---
title: Projects Page
---
extends layouts/_layout
block content
  +breadcrumb('Components',['Home', 'Components'])
  .component-image.left
    .container
      .row.middle-xs
        .col-md-6.col-sm-6.col-xs-12
          img(src="https://via.placeholder.com/400", alt="")
        .col-md-6.col-sm-6.col-xs-12
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero recusandae sint quod totam blanditiis dolorem, esse obcaecati incidunt ex magni, corporis iure perferendis omnis amet labore. Animi eveniet accusamus quia.
  .component-image.right
    .container
      .row.middle-xs.reverse
        .col-md-6.col-sm-6.col-xs-12.end-xs
          img(src="https://via.placeholder.com/400", alt="")
        .col-md-6.col-sm-6.col-xs-12
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero recusandae sint quod totam blanditiis dolorem, esse obcaecati incidunt ex magni, corporis iure perferendis omnis amet labore. Animi eveniet accusamus quia.
  .component-text
    .container
      .row
        .col-xs-12
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum cumque animi fugiat ad sit quaerat saepe totam, laborum in atque illo obcaecati culpa ex alias, corporis voluptas blanditiis, non dolore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat a magnam officiis minima, consequuntur voluptatibus molestias delectus fugiat non in tempora, exercitationem vitae laboriosam! Vero beatae suscipit delectus facilis accusamus.
  .component-image.left
    .container
      .row.middle-xs
        .col-md-6.col-sm-6.col-xs-12
          <iframe width="560" height="315" src="https://www.youtube.com/embed/9YffrCViTVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .col-md-6.col-sm-6.col-xs-12
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero recusandae sint quod totam blanditiis dolorem, esse obcaecati incidunt ex magni, corporis iure perferendis omnis amet labore. Animi eveniet accusamus quia.
  .component-image.right
    .container
      .row.middle-xs.reverse
        .col-md-6.col-sm-6.col-xs-12
          <iframe width="560" height="315" src="https://www.youtube.com/embed/9YffrCViTVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .col-md-6.col-sm-6.col-xs-12
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero recusandae sint quod totam blanditiis dolorem, esse obcaecati incidunt ex magni, corporis iure perferendis omnis amet labore. Animi eveniet accusamus quia.
  .component-full-image(style="background-image: url(https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg)")
  .component-full-image(style="background-image: url(https://www.oxforduniversityimages.com/images/rotate/Image_Spring_17_4.gif)")
    .component-full-image-text
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus neque, et ipsum sapiente possimus officia animi voluptates corporis quibusdam laudantium quia deleniti assumenda qui, non, fugiat facere alias iure omnis.
  .container
    .row
      .col-xs-12
        table
          tr
            th Cell 1
            th Cell 2
          tr
            td Cell 3
            td Cell 4
        ul
          li Number 1
          li Number 2
          li Number 3
          li Number 4
          li Number 5
        ol
          li Number 1
          li Number 2
          li Number 3
          li Number 4
          li Number 5
        h1 Title 1
        h2 Title 2
        h3 Title 3
        h4 Title 4
        h5 Title 5
        h6 Title 6
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis odio dolorum modi, provident tempora minus architecto necessitatibus fuga veritatis, tempore sit vel atque magnam rem nulla libero nemo minima? Reprehenderit?

