---
title: Document Page
---
extends layouts/_layout
block content
  +breadcrumb('Контакты',['Главная', 'Контакты'])
  .contact
    .contact__info
      .contact__info__block
        i.icon.icon-contact-1
        div
          p E-mail:
          span email@yandex.ru<br> (корпоративная)
      .contact__info__block
        i.icon.icon-contact-2
        div
          p Телефон/факс:
          span 
            a(href="tel:+7 (343) 222 – 05 – 03") +7 (343) 222 – 05 – 03 
            | <br>(многоканальный).
      .contact__info__block
        i.icon.icon-contact-3
        div
          p Адрес:
          span г.Екатеринбург 620073, ул. Мельковская, 16а, <br>офис 507
    .contact__map
      iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A1bb4b41f91510e3d0b9638077b90300e58eb20f2ef32d0f43deb0e89975ff310&source=constructor', width='100%', height='400', frameborder='0')

    .container
      .row
        .col-xs-12
          .seo
            .heading
              h2 Nunc congue felis
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum. Fusce nec rutrum nunc. Cras viverra, diam vel faucibus egestas, ligula ligula elementum lectus, a tincidunt tellus mi eu felis. Cras vitae cursus sapien. Cras sit amet convallis lorem.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum. Fusce nec rutrum nunc. Cras viverra, diam vel faucibus egestas, ligula ligula elementum lectus, a tincidunt tellus mi eu felis. Cras vitae cursus sapien. Cras sit amet convallis lorem.