ul
  li
    a(href="/") Home
  li
    a(href="services.html") Services
  li
    a(href="projects.html") Projects
  li
    a(href="project.html") Project
  li
    a(href="documents.html") Documents
  li
    a(href="contact.html") Contacts
  li
    a(href="components.html") Components
