---
title: Projects Page
---
extends layouts/_layout
block content
  +breadcrumb('Дизайн проекты',['Главная', 'Дизайн проекты'])
  .projects
    .container
      .row
        +project
        +project
        +project
        +project
        +project
        +project
        +project
        +project
  +form