---
title: Design Page
---
extends layouts/_layout
block content
  +breadcrumb('Дизайн', ['Главная', 'Дизайн'])
  .project
    .container
      .row
        .col-md-6.col-xs-12
          .project__text
              h2 Разработка интерьера<br> включает в себя:
              ul
                li 3D визуализация;
                li обмерочный план существующего помещения;
                li план полов, демонтируемых и возводимых перегородок;
                li план расстановки мебели;
                li план потолка, межкомнатных и несущих перегородок с размещением климатического оборудования, светильников;
                li розеток и выключателей;
                li план расположения сантехнического оборудования;
                li развертки стен и необходимые разрезы;
                li ведомость отделки помещений и общие указания.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum sed est ut viverra. Nullam urna neque, placerat a cursus in, convallis non mi. Phasellus id mauris eu nunc bibendum venenatis non eget erat. Aenean eros tortor, blandit vitae semper sit amet, ultricies eu augue. Suspendisse cursus dolor ut dolor hendrerit, nec dapibus nunc facilisis.
        .col-md-6.col-xs-12
          .project__image
            img(src="https://via.placeholder.com/400", alt="")
      .row.reverse
        .col-md-6.col-xs-12
          .project__text
              h2 Разработка интерьера<br> включает в себя:
              ul
                li 3D визуализация;
                li обмерочный план существующего помещения;
                li план полов, демонтируемых и возводимых перегородок;
                li план расстановки мебели;
                li план потолка, межкомнатных и несущих перегородок с размещением климатического оборудования, светильников;
                li розеток и выключателей;
                li план расположения сантехнического оборудования;
                li развертки стен и необходимые разрезы;
                li ведомость отделки помещений и общие указания.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum sed est ut viverra. Nullam urna neque, placerat a cursus in, convallis non mi. Phasellus id mauris eu nunc bibendum venenatis non eget erat. Aenean eros tortor, blandit vitae semper sit amet, ultricies eu augue. Suspendisse cursus dolor ut dolor hendrerit, nec dapibus nunc facilisis.
        .col-md-6.col-xs-12
          .project__image
            img(src="https://via.placeholder.com/400", alt="")
      .row
        .col-xs-12
          .seo
            .heading
              h2 Nunc congue felis
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum. Fusce nec rutrum nunc. Cras viverra, diam vel faucibus egestas, ligula ligula elementum lectus, a tincidunt tellus mi eu felis. Cras vitae cursus sapien. Cras sit amet convallis lorem.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum. Fusce nec rutrum nunc. Cras viverra, diam vel faucibus egestas, ligula ligula elementum lectus, a tincidunt tellus mi eu felis. Cras vitae cursus sapien. Cras sit amet convallis lorem.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum. Fusce nec rutrum nunc. Cras viverra, diam vel faucibus egestas, ligula ligula elementum lectus, a tincidunt tellus mi eu felis. Cras vitae cursus sapien. Cras sit amet convallis lorem.
  +form