---
title: Projects Page
---
extends layouts/_layout
block content
  +breadcrumb('Design Projects', ['Home', 'Design Projects'])
  .projects
    .container
      .row
        +project
        +project
        +project
        +project
        +project
        +project
        +project
        +project
        .col-xs-12
          .pagination__wrapper
            ul.pagination
              li
                button.prev(title='previous page') ❮
              li
                button(title='first page - page 1') 1
              li
                span ...
              li
                button(title='page 8') 8
              li
                button.active(title='current page - page 9') 9
              li
                button(title='page 10') 10
              li
                span ...
              li
                button(title='last page - page 69') 69
              li
                button.next(title='next page') ❯
      .row
        .col-xs-12
          .seo
            .heading
              h2 Nunc congue felis
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum. Fusce nec rutrum nunc. Cras viverra, diam vel faucibus egestas, ligula ligula elementum lectus, a tincidunt tellus mi eu felis. Cras vitae cursus sapien. Cras sit amet convallis lorem.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum. Fusce nec rutrum nunc. Cras viverra, diam vel faucibus egestas, ligula ligula elementum lectus, a tincidunt tellus mi eu felis. Cras vitae cursus sapien. Cras sit amet convallis lorem.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum. Fusce nec rutrum nunc. Cras viverra, diam vel faucibus egestas, ligula ligula elementum lectus, a tincidunt tellus mi eu felis. Cras vitae cursus sapien. Cras sit amet convallis lorem.
  +form