footer.footer
  .container
    .row
      .col-xs-12.center-xs
        .footer__logo
          img(src="img/logo-white.svg", alt="")
        .footer__social
          a(href="#")
            i.icon.icon-twitter
          a(href="#")
            i.icon.icon-linkedin
          a(href="#")
            i.icon.icon-facebook
        .footer__copyright
          p Разработка и продвижение 
            a(href="#") «Маркс&Энгельс»
.modal#form
  .form.modal-form
    form
      h2 Калькулятор
      input(type="text" placeholder="Ваше имя")
      input(type="tel" placeholder="Ваш телефон")
      input(type="text" placeholder="Ваши вопросы")
      textarea(rows="1")
      button(type="submit").btn.btn--submit Подробнее