footer.footer
  .container
    .row
      .col-xs-12.center-xs
        .footer__logo
          img(src="img/logo-white.svg", alt="")
        .footer__social
          a(href="#")
            i.icon.icon-twitter
          a(href="#")
            i.icon.icon-linkedin
          a(href="#")
            i.icon.icon-facebook
.modal#form
  .form.modal-form
    form
      h2 Calculator
      input(type="text" placeholder="Name")
      input(type="tel" placeholder="Phone")
      input(type="text" placeholder="Question")
      textarea(rows="1")
      button(type="submit").btn.btn--submit Read more