//BEGIN header
header.header
  .header__toolbar
    .container
      .row.middle-xs
        .col-md-6
          nav
            ul
              li
                a(href="services.html") Услуги
              li
                a(href="#") Тарифы
              li
                a(href="#") Интеграции
              li
                a(href="#") География
              li
                a(href="#") Контакты
        .col-md-4.col-md-offset-2
          .row.middle-xs
            .col-xs-5.col-xs-offset-1
              .header__toolbar__city
                i.icon.icon-mark
                a(href="#") г. Екатеринбург
            .col-xs-6
              .header__toolbar__phone
                a(href="tel:+7 (343) 222-05-03") 
                  i.icon.icon-phone
                  | +7 (343) 222-05-03
  .header__bottom
    .container
      .row.middle-xs
        .col-md-3
          a(href="/").header__logo
            img(src="img/logo.svg", alt="")
            span Промгражданпроект
        .col-md-5.col-md-offset-4
          .header__info
            .row.middle-xs
              .col-xs-4
                a(href="#").header__info__calc
                  i.icon.icon-calc
                  span Калькулятор
              .col-xs-4
                .header__info__social
                  a(href="#")
                    i.icon.icon-twitter
                  a(href="#")
                    i.icon.icon-linkedin
                  a(href="#")
                    i.icon.icon-facebook
              .col-xs-4
                a(href="#").btn.btn--header Заказать звонок
            

//END header
