include _mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
    //BEGIN out
    #menu.slideout-menu
      .center
        .header__toolbar__phone
            a(href="tel:+44 1632 960347") 
              i.icon.icon-phone
              | +44 1632 960347
        a(href="#").header__info__calc
          i.icon.icon-calc
          span Calculator
        a(href="#").btn.btn--header Request a callback
      ul
        li.current-item
          a(href="services.html") Services
        li
          a(href="#") Price
        li
          a(href="#") Integrations
        li
          a(href="#") Geography
        li
          a(href="#") Contact


    .out#panel(class=outClass)
      block header
        include ../partials/_header
      block content

      block footer
        include ../partials/_footer
    //END out

    //LOAD SCRIPTS
    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js")
      script(type="text/javascript" src="js/app.js")
