- var svgSprite = 'img/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class=name + modClass)
    use(xlink:href= svgSprite + '#' + name)

mixin breadcrumb(title, items)
  section.breadcrumb
    .container
      .row
        .col-xs-12
          .breadcrumb__heading
            h1= title
            hr
          .breadcrumb__links
            each item in items
              a(href="#")= item

mixin services(title)
  .col-md-4.col-sm-6.col-xs-12
    article
      img(src="img/services.jpg", alt="")
      h1= title
      a.btn.btn--services(href="#") More details
mixin project
  a(href="#").projects__block
    article
      img(src="img/project.jpg", alt="")
      h1 Interior Design for Restaurants and Cafes
      p The interior design of a bar, restaurant, or cafe should be unique and individual, distinctive and stylish, as well as comfortable and cozy.
mixin document
  .components-documents__block
    img(src="img/document.svg", alt="")
    h3 Lorem ipsum dolor sit amet.doc
    a.btn.btn--documents Download

mixin form
  section.form
    .container
      .row
        .col-md-5.col-sm-5.col-xs-12
          form
            input(type="text" placeholder="Name")
            input(type="tel" placeholder="Phone")
            input(type="text" placeholder="Question")
            button(type="submit").btn.btn--submit Submit
        .col-md-7.col-sm-7.col-xs-12
          .form__block
            h2 Have a questions? <br> Write us!
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros.
            .row.middle-xs
              .col-sm-4.col-xs-12
                .form__block__phone
                  i.icon.icon-phone
                  a(href="tel:+44 1632 960347") +44 1632 960347
              .col-sm-8.col-xs-12
                .form__block__address
                  i.icon.icon-mark
                  span Broadwas, 76 Iffley Road, building 507
    