@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow: "\EA01";
$icon-calc: "\EA02";
$icon-contact-1: "\EA03";
$icon-contact-2: "\EA04";
$icon-contact-3: "\EA05";
$icon-document: "\EA06";
$icon-facebook: "\EA07";
$icon-linkedin: "\EA08";
$icon-mark: "\EA09";
$icon-menu: "\EA0A";
$icon-phone: "\EA0B";
$icon-services-1: "\EA0C";
$icon-services-2: "\EA0D";
$icon-services-3: "\EA0E";
$icon-services-4: "\EA0F";
$icon-services-5: "\EA10";
$icon-services-6: "\EA11";
$icon-twitter: "\EA12";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arrow:before { content: $icon-arrow; }
.icon-calc:before { content: $icon-calc; }
.icon-contact-1:before { content: $icon-contact-1; }
.icon-contact-2:before { content: $icon-contact-2; }
.icon-contact-3:before { content: $icon-contact-3; }
.icon-document:before { content: $icon-document; }
.icon-facebook:before { content: $icon-facebook; }
.icon-linkedin:before { content: $icon-linkedin; }
.icon-mark:before { content: $icon-mark; }
.icon-menu:before { content: $icon-menu; }
.icon-phone:before { content: $icon-phone; }
.icon-services-1:before { content: $icon-services-1; }
.icon-services-2:before { content: $icon-services-2; }
.icon-services-3:before { content: $icon-services-3; }
.icon-services-4:before { content: $icon-services-4; }
.icon-services-5:before { content: $icon-services-5; }
.icon-services-6:before { content: $icon-services-6; }
.icon-twitter:before { content: $icon-twitter; }
