.icon-arrow {
  width: 0.5em;
  height: 1em;
  fill: gray;
}
.icon-calc {
  width: 1em;
  height: 1em;
  fill: #1B1F2A;
}
.icon-document {
  width: 0.8em;
  height: 1em;
  fill: #000;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #18243A;
}
.icon-linkedin {
  width: 0.93em;
  height: 1em;
  fill: #18243A;
}
.icon-mark {
  width: 0.76em;
  height: 1em;
  fill: #fff;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-services-1 {
  width: 1em;
  height: 1em;
  fill: #1B1F2A;
}
.icon-services-2 {
  width: 1.15em;
  height: 1em;
  fill: #fff;
}
.icon-services-3 {
  width: 1em;
  height: 1em;
  fill: #1B1F2A;
}
.icon-services-4 {
  width: 0.92em;
  height: 1em;
  fill: #1B1F2A;
}
.icon-services-5 {
  width: 1em;
  height: 1em;
  fill: #1B1F2A;
}
.icon-services-6 {
  width: 1em;
  height: 1em;
  fill: #1B1F2A;
}
.icon-twitter {
  width: 1.17em;
  height: 1em;
  fill: #18243A;
}
