section.about
  .container
    .row.middle-xs
      .col-md-5
        .about__image
          img(src="img/home/about.jpg", alt="About")
      .col-md-7
        .heading
          h2 Nunc congue felis
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum. Fusce nec rutrum nunc. Cras viverra, diam vel faucibus egestas, ligula ligula elementum lectus, a tincidunt tellus mi eu felis. Cras vitae cursus sapien. Cras sit amet convallis lorem.