section.logos
  .container
    .row
      .col-xs-12
        .logos__block
          img(src="img/home/logos/1.png", alt="Logo 1")
          img(src="img/home/logos/2.png", alt="Logo 2")
          img(src="img/home/logos/3.png", alt="Logo 3")
          img(src="img/home/logos/4.png", alt="Logo 4")
          img(src="img/home/logos/5.png", alt="Logo 5")