section.news
  .container
    .row
      .col-xs-12
        .heading
          h2 Новости
      .col-md-3.col-sm-6.col-xs-12
        article
          header
            span 23.02.2018
            div
              h1 Lorem Ipsum
          main
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros.
      .col-md-3.col-sm-6.col-xs-12
        article
          header
            span 23.02.2018
            div
              h1 Lorem Ipsum
          main
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros.
      .col-md-3.col-sm-6.col-xs-12
        article
          header
            span 23.02.2018
            div
              h1 Lorem Ipsum
          main
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros.
      .col-md-3.col-sm-6.col-xs-12
        article
          header
            span 23.02.2018
            div
              h1 Lorem Ipsum
          main
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros.
      .col-xs-12
        a.btn.btn--news(href="#") Смотреть еще