section.offer(style="background-image: url('/img/home/offer.jpg')")
  .container
    .row
      .col-xs-12
        .offer__block
          h1 Полный комплекс строительных работ «под ключ»
          span На рынке с 2004 года