section.offer(style="background-image: url('https://via.placeholder.com/150')")
  .container
    .row
      .col-xs-12
        .offer__block
          h1 Full range of construction works "turnkey"
          span On the market since 2004