section.home-services
  .container
    .row.middle-xs
      .col-md-6
        .home-services__image
          img(src="img/home/services.jpg", alt="")
      .col-md-5.col-md-offset-1
        .home-services__block
          .heading
            h2 Наши услуги
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros.
          .home-services__block__links
            .row
              .col-md-6
                a(href="#") 
                  i.icon.icon-services-1
                  span Дизайн проекты
                a(href="#") 
                  i.icon.icon-services-2
                  span Ремонт помещений
                a(href="#") 
                  i.icon.icon-services-3
                  span Проектирование
              .col-md-6
                a(href="#") 
                  i.icon.icon-services-4
                  span Отделка помещений
                a(href="#") 
                  i.icon.icon-services-5
                  span Монтаж<br> инженерных сетей
                a(href="#") 
                  i.icon.icon-services-6
                  span Техническая<br> укрепленность
          