section.works
  .container
    .row
      .col-xs-12
        .heading
          h2 Последние работы
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at luctus ligula. In id facilisis lorem, vel commodo justo. Proin aliquet scelerisque ante sed condimentum. Nulla bibendum vehicula augue at pulvinar. Integer metus ipsum, facilisis vel auctor quis, tristique a eros. Maecenas hendrerit a ante in tincidunt. Quisque ultricies bibendum velit, eu vulputate orci. Donec consequat consectetur nunc, eu dapibus risus accumsan sed. Nam pellentesque laoreet odio sed fermentum. Integer blandit arcu bibendum nisi condimentum vestibulum.
      .col-md-4.col-sm-4.col-xs-12
        a(href="#").works__block
          .works__block__image
            img(src="img/home/works.jpg", alt="")
            .btn.btn--works(href="#") Подробнее
          .works__block__text
            h3 Административный офис "Билайн"
            span г. Новосибирск
      .col-md-4.col-sm-4.col-xs-12
        a(href="#").works__block
          .works__block__image
            img(src="img/home/works.jpg", alt="")
            .btn.btn--works(href="#") Подробнее
          .works__block__text
            h3 Кафе-пекарня "Друзья любят
            span г. Тавда
      .col-md-4.col-sm-4.col-xs-12
        a(href="#").works__block
          .works__block__image
            img(src="img/home/works.jpg", alt="")
            .btn.btn--works(href="#") Подробнее
          .works__block__text
            h3 Кафе-пекарня "Поль Бейкери"
            span г. Екатеринбург
        
      