.container,
.row
  height: 100%

body
  font-family: $pt

.btn
  text-decoration: none
  font-size: 14px
  padding: 10px 20px
  border-radius: 50px
  color: black
  transition: all 0.3s
  &--header
    background: #F6F6F6
    &:hover
      background: black
      color: white